<input> <button (click)="btnFindFamilyClicked()">Find Family</button>
<div *ngIf="showTable"  style="width: 90%;">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>street Address</th>
                <th>Relationship</th>
            </tr>
        </thead>
        <tr>
            <td>Friedl, Sister Margaret</td>
            <td>1000 Main Street</td>
            <td>Great Anut</td>
        </tr>
        <tr>
            <td>Porter J., Kelly </td>
            <td>135 First Ave</td>
            <td>Second Cousin</td>
        </tr>
        <tr>
            <td>Smith J., Thomas III </td>
            <td>400 First Ave</td>
            <td>Second Cousin</td>
        </tr>
    </table>
</div>